/*Global styling*/
* {
    font-family: 'Work Sans', sans-serif;
    list-style-type: none;
}

a {
    color: black;
}

a:hover {
    color: black;
}

/* style JSON data */
pre {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

/* set up flex */

.container {
    display: flex;
    flex-direction: column;
    background-image: url("dot-grid.png");
}

/* Header */

@media (max-width: 575px){
    header {
        font-size: 22px !important;
        color: #2e2f33;
    }
}

header {
    text-align: center;
    font-size: 32px;
    color: #2e2f33;
}

/*Body div*/

.bodyDiv {
    display: flex;
    flex-direction: row;
    background-color: #f5f7ff;
    margin: 0% 20% 0px 20%;
    padding-left: 160px;
    padding-left: 40px;

}

@media (max-width: 768px){
    .bodyDiv{
        margin: 50px;
        padding-left: 50px;
    }
}

@media (max-width: 575px){
    .bodyDiv {
        background-color: #f5f7ff;
        margin: 20px;
        padding-left: 20px;

    }
}

/* Nav bar */

@media (max-width: 575px) {
    nav {
        background-color: yellow;
    }
}

nav {

    background-color: #e6ebff; 
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

ul > div {
    padding: 7px;
}

/* Footer */
footer {
    margin-top: 10px;
    bottom: 1%;
    overflow: hidden;
    background: snow;

}