/*Global styling*/
* {
    font-family: 'Work Sans', sans-serif;
    list-style-type: none;
}

a {
    color: black;
}

a:hover {
    color: black;
}

/* style JSON data */
pre {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

/* set up flex */

.container {
    display: flex;
    flex-direction: column;
}

/* Header */

@media (max-width: 575px){
    header {
        font-size: 22px !important;
    }
}

header {
    text-align: center;
    font-size: 28px;
}

/*Body div*/

.bodyDiv {
    background-color: pink;
    margin: 0px 120px 0px 120px;

}

@media (max-width: 768px){
    .bodyDiv{
        margin: 50px;
    }
}

@media (max-width: 575px){
    .bodyDiv {
        background-color: green;
        margin: 20px;

    }
}

/* Nav bar */

@media (max-width: 575px) {
    nav {
        background-color: yellow;
    }
}

nav {

    background-color: peachpuff;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

ul > div {
    padding: 7px;
}

/* Footer */
footer {
    margin-top: 5px;
    bottom: 1%;
    overflow: hidden;

}